.workflow {
  flex-direction: column;
  display: flex;
  height: 100%;
}

.workflowWrapper {
  flex-grow: 1;
  height: 100%;
}

@media screen and (min-width: 768px) {
  .workflow {
    flex-direction: row;
  }
}
